@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* solution below */
  display: flex;
  flex-direction: column;
  /* the line below isn't needed with flex-growth: 1 and justify-content: center on .content */
  /* justify-content: space-between; */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /* solution below */
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* solution below */
.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: center; /* because I changed de flex-direction; justify-content: center aligns the elements vertically */
  flex-grow: 1; /* so .content is the only one who grows while .header and .footer keep their height */
}

.footer {
  background-color: #eeeeee;
}

.left-links,
.right-links {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 16px;
  display: flex;
}

a {
  text-decoration: none;
  color: #666;
}